html {
  scroll-behavior: smooth; }

body {
  background-color: #222222;
  color: white; }

#CTA {
  background-color: black; }
  #CTA #CTA-call {
    width: 50%;
    border: none;
    background-color: black;
    color: white; }
  #CTA #CTA-socials {
    width: 50%; }

#banner {
  background: black;
  min-height: 25vh; }
  #banner #banner-heading {
    font-size: calc(24px + 1.5vw);
    text-align: center; }
  #banner #banner-div #banner-div--button:focus {
    border-color: yellow; }
  #banner #banner-div #banner-div--copy {
    margin-top: 1em; }

#navbar-nav--1 {
  flex-direction: row;
  width: 100% !important; }

.sticky-top {
  top: -1px !important; }

.dropdown-menu {
  left: -50px; }

.dropdown-menu.show {
  position: absolute; }

#home hr {
  background-color: white;
  width: 50%;
  text-align: left;
  margin-left: 0; }

#home #home--header {
  color: dodgerblue;
  text-align: left; }

#profile-photo {
  max-width: 650px; }
  #profile-photo img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    border: 15px solid #343a40; }

#about {
  font-size: calc(12px + 1.5vw);
  scroll-margin-top: 112px; }
  #about a {
    color: dodgerblue; }

.service {
  scroll-margin-top: 112px;
  font-size: calc(8px + 1vw); }
  .service ul {
    padding-left: 0; }
  .service li {
    list-style: none; }
  .service ion-icon {
    color: white;
    font-size: 1.5em; }

.service-text {
  text-align: center;
  position: relative; }

#plumbing-section {
  font-size: calc(8px + 1vw); }

#plumbing {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/plumbing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#gas {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/gas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#hot-water {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/hotwater.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#bathrooms {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/bathroom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#contact-section {
  scroll-margin-top: 112px; }
  #contact-section #socials {
    text-align: center;
    font-size: calc(55px + 1.5vw);
    text-decoration: none; }
  #contact-section a {
    color: white; }
  #contact-section a:hover {
    color: dodgerblue;
    text-decoration: none; }
