html {
  scroll-behavior: smooth;
  font-size: 16px; }

body {
  background-color: #222222;
  color: white; }

#CTA {
  background-color: black;
  color: white;
  font-size: 2em; }
  #CTA a {
    color: white;
    text-decoration: none; }
  #CTA #CTA-call {
    border: none;
    background-color: black; }
    #CTA #CTA-call a {
      color: dodgerblue; }
    #CTA #CTA-call ion-icon {
      color: white;
      font-size: 1em; }
  #CTA #CTA-socials {
    font-size: 2em; }

#banner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: black;
  min-height: 15vh; }
  #banner #banner-wrapper {
    align-items: center;
    min-height: 15vh; }
  #banner #banner--hydrospark img {
    width: 100%; }
  #banner #banner--hydrospark-logo img {
    width: 100%; }
  #banner #banner-button-div {
    display: block; }
    #banner #banner-button-div #banner--button {
      border: 3px solid white;
      height: 100px;
      width: 100%; }
    #banner #banner-button-div #banner--button:focus {
      border-color: yellow; }

#navbar-nav--1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100% !important;
  font-size: 1em; }

.sticky-top {
  top: -1px !important; }

.dropdown-menu {
  left: -50px; }

.dropdown-menu.show {
  position: absolute; }

#home #carouselExampleSlidesOnly {
  position: relative;
  width: 100%;
  margin-bottom: 20vh; }
  #home #carouselExampleSlidesOnly .carousel-item {
    max-height: 40vh; }
  #home #carouselExampleSlidesOnly #carousel-1 {
    background-image: url("../img/bathroom1.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh; }
  #home #carouselExampleSlidesOnly #carousel-2 {
    background-image: url("/img/Bluewater_Lane-27.JPG");
    background-size: cover;
    background-position: center;
    height: 40vh; }
  #home #carouselExampleSlidesOnly #carousel-3 {
    background-image: url("/img/outsidebar.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh; }
  #home #carouselExampleSlidesOnly #carousel-4 {
    background-image: url("/img/Bluewater_Lane-39.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh; }

#home #home--header {
  position: relative;
  top: 1vh;
  text-align: center;
  font-size: 3em; }

#profile-photo {
  background-color: #222222; }
  #profile-photo img {
    background-color: #222222;
    height: auto;
    width: 40vh;
    height: auto;
    z-index: 2;
    position: absolute;
    bottom: -50%;
    left: 10%;
    border-radius: 50%;
    border: 5px solid #222222; }

#about {
  font-size: 1.5em;
  scroll-margin-top: 112px; }
  #about h1 {
    font-size: 2em; }
  #about a {
    color: dodgerblue; }

.service {
  scroll-margin-top: 112px;
  font-size: 1.2em; }
  .service ul {
    padding-left: 0; }
  .service li {
    list-style: none; }
  .service ion-icon {
    color: white;
    font-size: 1.5em; }

.service-text {
  text-align: center;
  position: relative;
  font-size: 2em; }

#plumbing {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/plumbing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#gas {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/gas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#hot-water {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/hotwater.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#bathrooms {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/bathroom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#contact-section {
  scroll-margin-top: 112px; }
  #contact-section #socials {
    text-align: center;
    font-size: 5em;
    text-decoration: none; }
  #contact-section a {
    color: white; }
  #contact-section a:hover {
    color: dodgerblue;
    text-decoration: none; }
  #contact-section #contact-section--form {
    border: 2px solid black;
    font-size: 2em;
    color: black;
    font-weight: 600;
    background-color: lightgrey;
    width: 100%; }
    #contact-section #contact-section--form h1 {
      text-align: center; }
    #contact-section #contact-section--form input {
      border-width: 2px;
      max-width: 100%; }
    #contact-section #contact-section--form textarea {
      max-height: 100%;
      resize: none;
      overflow: hidden;
      border-width: 2px; }
    #contact-section #contact-section--form #form--message {
      text-align: left; }

@media (max-width: 992px) {
  #carouselExampleSlidesOnly {
    margin-bottom: 0px !important; } }
