body {
  background-color: #222222; }

#banner {
  background: black;
  color: white;
  min-height: 25vh; }
  #banner #banner-heading {
    font-size: calc(24px + 1.5vw);
    text-align: center; }
  #banner #banner-div #banner-div--button:focus {
    border-color: yellow; }
  #banner #banner-div #banner-div--copy {
    margin-top: 1em; }

#navbar-nav--1 {
  width: 100% !important; }

#home-content {
  color: white; }
  #home-content hr {
    background-color: white;
    width: 50%;
    text-align: left;
    margin-left: 0; }
  #home-content #home-content--header {
    color: dodgerblue;
    text-align: left; }
