$primary-color: rgb(34,34,34);
$text-color: white;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;
  color: $text-color;
  font-size: calc(10px + .8vw);
  // padding-top: .2em;
}


#CTA {
  background-color: black;
  color: white;
  font-size: 2em;

  a {
    color: white;
    text-decoration: none;
  }

  #CTA-call {
    a {
      color:dodgerblue;
    }

    border:none;
    background-color: black;
    ion-icon {
      color:white;
      font-size:1em;
    }
  }

  #CTA-socials {
  font-size:2em;
  }
}

#banner {
  background: black;
  // border: 1px solid dodgerblue;
  min-height: 15vh;

  #banner-heading {
    // border:1px solid dodgerblue;
    font-size: calc(24px + 1.5vw);
    text-align: center;
  }

  #banner-div {
    // border: 1px solid dodgerblue;
    #banner-div--button:focus {
      border-color: yellow;
    }


  }
}
//This makes the space-around flex property work as intended

#navbar-nav--1 {
  // height:60px;
  flex-direction: row;
  width: 100%!important;
}

.sticky-top {
  top: -1px !important;
}

.dropdown-menu {
  left: -50px;
}

.dropdown-menu.show {
  position: absolute;
}

#home {
  #carouselExampleSlidesOnly {
    position: relative;
    width:100%;
    margin-bottom: 20vh;
    .carousel-item {
      max-height: 40vh;
    }
  }
  hr {
    background-color: $text-color;
    width: 50%;
    text-align: left;
    margin-left: 0;
  }

  #home--header {
    position: relative;
    top:1vh;
    color: white;
    text-align: center;
  }
}

#profile-photo {
background-color: $primary-color;
  img {
    background-color: $primary-color;
    height:auto;
    width:40vh;
    height:auto;
    position: absolute;
    bottom:-50%;
    left:10%;
    border-radius:50%;
    border: 5px solid $primary-color;
  }
}

#about {
  font-size: calc(12px + 1.5vw);
  scroll-margin-top: 112px;

  a {
    color: dodgerblue;
  }
}

.service {
  scroll-margin-top: 112px;

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }

  ion-icon {
    color: white;
    font-size: 1.5em;
  }
}

.service-text {
  text-align: center;
  position: relative;
  // z-index: 1;
}

#plumbing-section {
  //font size will need adjusting for the sm breakpoint
}

#plumbing {
  display: block;
  position: relative;
  height: 25vh;
  // max-width: 405px;
  background-image: url("/img/plumbing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gas {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/gas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hot-water {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/hotwater.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bathrooms {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/bathroom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-section {
  scroll-margin-top: 112px;

  #socials {
    text-align: center;
    font-size: calc(55px + 1.5vw);
    text-decoration: none;
  }

  a {
    color: white;
  }

  a:hover {
    color: dodgerblue;
    text-decoration: none;
  }
  #contact-section--form {
    h1 {
      text-align: center;

    }
    color: black;
    font-weight: 600;
    background-color: lightgrey;
    height: 500px;
    width:100%;
    #form--message {
      text-align:left;
    }
  }

}
