$primary-color: rgb(34,34,34);
$text-color: white;
body {
  background-color: $primary-color;
  color: $text-color;
}

#banner {
  background: black;
  // border: 1px solid dodgerblue;
  min-height: 25vh;
  #banner-heading {
    // border:1px solid dodgerblue;
    font-size:calc(24px + 1.5vw);
    text-align: center;
  }
  #banner-div {
    // border: 1px solid dodgerblue;
  #banner-div--button:focus {
    border-color: yellow;
  }
    #banner-div--copy {
      margin-top: 1em;
    }

  }
}
//This makes the space-around flex property work as intended
#navbar-nav--1 {

  width: 100%!important;
}

#home {
  hr {
    background-color: $text-color;
    width:50%;
    text-align: left;
    margin-left: 0;
  }
  #home--header {
    color:dodgerblue;
    text-align: left;
  }
}

 #plumbing {
    height:25vh;
    #plumbing-cover-text {
      text-align: center;
      position: relative;
      z-index: 1;
    }
    #plumbing-cover-img{
    height: inherit;
    background-image: url(/img/plumbing.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    // filter: blur(1.5px);
  }
 }
